<!--About Me page-->
<div class="container mt-5">
  <h1>About Me</h1>
  <section id="intro-and-photo-section">
    <p>My name is Zachary Brienesse!</p>
    <p>I am a student learning Web Development for the class Web & Script Programming. </p>
    <!--my photo-->
      <img src="images/me.jpg" alt="My Photo" id="profile-photo">
  </section>
  <h3>My Skills:</h3>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Node.js</li>
  </ul>
</div>