<div class="container mt-5">
  <h1>Contact Me</h1>
  <p></i> Email: Zachary.brienesse@ontariotechu.net</p>
  <p></i> Phone: (123) 456-7890</p>
  
  <h3>Or, Contact Me Here:</h3>
  <form>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Message</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>