<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <div class="container">
            <div>
                <a class="text-white" href="/">Home</a>
                <a class="text-white" href="/about">About</a>
                <a class="text-white" href="/projects">Projects</a>
                <a class="text-white" href="/contact">Contact</a>
            </div>
        </nav>
    </body>
    <main>
        <%- body %>
    </main>
    <footer>
        <div class="container">
            <p class="mt-2">&copy; 2025 My Portfolio</p>
        </div>
    </footer>
</html>