<div class="container mt-5">
  <h1>My Projects</h1>
  
  <div class="card mb-3">
    <div class="card-body">
      <h3>RISC-V Fibonacci Sequence</h3>
      <p>Designed a program using RISC-V assembly language that recites the fibonacci sequence, up to a specified number times. Created completely from scratch and wrote all code from scratch, using the assembler and runtime simulator, RARS.</p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h3>Leadership Analysis</h3>
        <p>Analyzed and studied character "Jean-Luc Picard" from a leadership perspective, and presented my description and analysis. I and other group members chose several characters from fiction that portray strong leadership aspects and laid out our findings in the form of a presentation.</p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h3>A (Simulated) Pilot Network</h3>
        <p>Designed a simulated pilot network using Packet Tracer. The pilot network involved setting up multiple network switches, routers, PCs and routing them all together, accross multiple different networks. My group members and I set up and ensured there was full connectivity within the network.</p>
    </div>
  </div>
</div>